<!DOCTYPE html>
<html>
<head>
    <title>JSONPlaceholder Posts</title>
</head>
<body>
    <h1>JSONPlaceholder Posts</h1>

    <!-- Display data in a table -->
    <table>
        <tr>
            <th>User ID</th>
            <th>Title</th>
            <th>Body</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.userId }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
        </tr>
        {% endfor %}
    </table>

    <p><a href="{% url 'post_chart' %}">Post Chart</a></p>
</body>
</html>
